.dashboard-icon, .dashboard-icon:hover, .custom-icon, .custom-icon:hover, .msg-icon, .msg-icon:hover, .promo-icon, .promo-icon:hover, .pgcreator-icon, .pgcreator-icon:hover, .analytics-icon, .analytics-icon:hover, .ppl-count, .ppl-count:hover{
	background: url(sprites.png) no-repeat;
	display: inline-block;
}

.dashboard-icon{
	background-position: -4px -4px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.dashboard-icon:hover{
	background-position: -82px -4px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.custom-icon{
	background-position: -201px -5px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.custom-icon:hover{
	background-position: -281px -4px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.msg-icon{
	background-position: -394px -6px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.msg-icon:hover{
	background-position: -475px -8px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.promo-icon{
	background-position: -6px -139px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.promo-icon:hover{
	background-position: -78px -140px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.pgcreator-icon{
	background-position: -199px -140px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.pgcreator-icon:hover{
	background-position: -283px -143px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.analytics-icon{
	background-position: -391px -137px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.analytics-icon:hover{
	background-position: -468px -136px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.ppl-count{
	background-position: -17px -277px ;
	width: 22px;
	height: 22px;
}

.ppl-count:hover{
	background-position: -75px -278px ;
	width: 22px;
	height: 22px;
}

