@font-face {
    font-family: Myriad;
    src: url(../fonts/MyriadPro-Regular.otf);
}

body{
    font-family: Myriad;
    font-size: 12px;
    color: #777777;
}

.left
    {float: left;}

.right
    {float: right;}

h1{
    font-size: 32px;
    color: #2498f4;
}

.no-pad{
    padding: 0;
}


/*MINI NAV BAR*/
.mini{
    background-color: #208de4;
    color: white;
    min-height: 45px;
    text-align: right;
    padding: 1em;
    font-size: 14px;
}

.mini a:link{
    text-align: right;
}


/*REAL NAVIGATION*/
.nav{
    min-height: 110px;
    background-color: #134670;
}


/*DASHBOARD AND SEARCH*/
.dash{
    min-height: 105px;
    font-size: 36pt;
    color: white;
    padding-top: .2em;
    padding-bottom: .2em;
    margin-top:.1em;
}

.dash-green{
    background-color: #33cc66;
    min-height: 76px;
    width: 100%;
    border: 0 solid white;
    border-radius: 10px;
    margin: 0 auto;
    padding-top: .15em;
    padding-bottom: .15em;
}

.searchinput{
    width: 258px;
    margin-top: .25em;
    margin-bottom: .25em;
}

.search-icon{
    position: relative;
        top: -1.1em;
        left: -.4em;
    color: #2498f4;
    font-size: 25px;
    float: right;
}


/*CONTAINER AND FRAMEWORK*/
.main{
    background-color: white;
    width: 99.5%;
    margin: 0 auto;
    position: relative;
    top: -15em;
    border: 1px solid #eeeeee;
}

.gray-box{
    height: 200px;
    border-radius: 10px;
    background-image:
        linear-gradient(
            to bottom,
            #f6f6f6,
            white
         );
}


/*ANNOUNCEMENTS*/
.gray-right-line{
    border-right: 1px solid #eeeeee;
    height:100%;
}

.announce{
    min-height: 50px;
    border-bottom: 1px solid #eeeeee;
    font-size: 1.2em;
    padding-bottom: 1.2em;
    padding-top: 1.2em;
}


/*TASKS*/
.tasks{
    border-bottom:1px #eeeeee solid;
    min-height: 300px;
    font-size: 21px;
    color: #2498f3;
    padding-top: .9em;
}

.task-hd{
    color: #2498f4;
    font-size: 32px;
}

.task-wrench{
    float: right;
}

.tasks a:link{
    color: #2498f3;
}

.tasks a:visited{
    color: #2498f3;
}

.tasks a:hover{
    color: #cccccc;
    text-decoration: none;
}

ol{
    padding-left: 20px;
    list-style-image: url('/images/bullet.png');
}

.task-box{
    border: 1px solid #dddddd;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    font-size: 16px;
    padding: .2em;
    float: right;
}

.line-under{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: .75em;
    padding-top: .75em;
}


/*RECOMMENDATIONS*/
.recommendations{
    min-height: 556px;
}


/*ANALYTICS*/
.analytics{
    border-left:1px #eeeeee solid;
    border-bottom:1px #eeeeee solid;
    min-height: 260px;
    padding-left: 40px;
}

.btn-group{
    position: relative;
        top: -3.5em;
        left: -27em;
}

.caret{
    color: #fe7f13;
}

.separate-data{
    border-right: 1px solid #dddddd;
    position: relative;
        top: -2em;
        left: -1.5em;
}

.pie{
    position: relative;
        top: -6em;
}

/*CUSTOMER*/
.customer{
    padding: 4em 0 0 0;
    border-bottom:1px #eeeeee solid;
    min-height: 268px;
}

.customer-box{
    height: 197px;
    width: 212px;
    border: solid #f2f2f2 1px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #888888;
    margin: 0 auto;
}

.customer-icon{
    padding-left: 5.25em;
    padding-right: 5.25em;
    position: relative;
        top: -2.2em;
}

.ribbon{
    background-color: #2394ee;
    color: white;
    height: 50px;
    width: 211px;
    margin: 0 auto;
    position: relative;
        top: -2.2em;
}

.ribbon-ends{
    position: relative;
        left: -15px;
        top: -6em;
}

.customer-graph{
    padding-left: .65em;
    padding-right: .65em;
    position: relative;
        top: -4.25em;
}

.customer-big{
    color: white;
    font-size: 21px;
    text-align: center;
    position: relative;
        top: -9.25em;
}

.customer-small{
    color: white;
    font-size: 11px;
    text-align: center;
    position: relative;
        top: -18.15em;
}

.questions{
    border-left:1px #eeeeee solid;
    border-right:1px #eeeeee solid;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    font-size: 15px;
    height: 11.5em;
}

.blue-box{
    padding: 1.65em 5em 1.65em 5em;
    background-color: #2498f4;
    min-height: 140px;
    width: 99%;
    margin: 0 auto;
    border: solid 1px #2498f4;
    border-radius: 3px;
}

.arrow{
    padding: 0 .25em 0 .23em;
    position: relative;
        top:-6.5em;
}

.ads{
    border: 1px solid red;
    background: #2498f4;
    height: 220px;
    margin-bottom: 5em;
}

#footer{
    position: relative;
    top: -5em;
    min-height: 50px;
    background: #fafafa;
    border: 1px solid red;
}