.dashboard-icon, .dashboard-icon:hover, .custom-icon, .custom-icon:hover, .msg-icon, .msg-icon:hover, .promo-icon, .promo-icon:hover, .pgcreator-icon, .pgcreator-icon:hover, .analytics-icon, .analytics-icon:hover{
	background: url(sprites.png) no-repeat;
	display: inline-block;
}

.dashboard-icon{
	background-position: -9px -7px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.dashboard-icon:hover{
	background-position: -87px -5px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.custom-icon{
	background-position: -219px -2px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.custom-icon:hover{
	background-position: -311px -1px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.msg-icon{
	background-position: -438px 0;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.msg-icon:hover{
	background-position: -514px -3px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.promo-icon{
	background-position: -11px -140px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.promo-icon:hover{
	background-position: -100px -140px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.pgcreator-icon{
	background-position: -221px -140px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.pgcreator-icon:hover{
	background-position: -320px -140px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.analytics-icon{
	background-position: -433px -137px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

.analytics-icon:hover{
	background-position: -522px -137px ;
	width: 62px;
	height: 95px;
	margin: 0 1.5em 0 1.5em;
}

